* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Exo 2', sans-serif;
    text-align: center;
}

body {
	background-color:#1e1e1e;	
    color: #fff;
}

h1,h2,h3,h4,label {
	font-size:4em;
	background: -webkit-linear-gradient(180deg, white 50%, slategray 50%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form__group {
    /* position: relative; */
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  
  }
  
  .form__label {
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #11998e;
      font-weight:700;    
    }
    
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 6px 17px;
    font-size: 13px;
    background:  #524e4e6c;
    border-radius: 32px;
     }
     .hero-btn:hover{
      background: #d317176c;
      /* transition: 0.5s; */
      box-shadow: rgb(24, 20, 20);
      z-index: 999;
    }